*~
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config/libtool.m4
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
configure
examples/Makefile.in
odeSolver/Makefile.in
src/Makefile.in
src/config.h.in
